/*
                                                ,,            ,,                          ,,
 .M"""bgd mm                                    db          `7MM        mm         mm   `7MM                                    OO OO OO
,MI    "Y MM                                                  MM        MM         MM     MM                                    88 88 88
`MMb.   mmMMmm ,pW"Wq.`7MMpdMAo.     `7Mb,od8 `7MM  .P"Ybmmm  MMpMMMb.mmMMmm     mmMMmm   MMpMMMb.  .gP"Ya `7Mb,od8 .gP"Ya      || || ||
  `YMMNq. MM  6W'   `Wb MM   `Wb       MM' "'   MM :MI  I8    MM    MM  MM         MM     MM    MM ,M'   Yb  MM' "',M'   Yb     || || ||
.     `MM MM  8M     M8 MM    M8       MM       MM  WmmmP"    MM    MM  MM         MM     MM    MM 8M""""""  MM    8M""""""     `' `' `'
Mb     dM MM  YA.   ,A9 MM   ,AP       MM       MM 8M         MM    MM  MM         MM     MM    MM YM.    ,  MM    YM.    ,     ,, ,, ,,
P"Ybmmd"  `Mbmo`Ybmd9'  MMbmmd'      .JMML.   .JMML.YMMMMMb .JMML  JMML.`Mbmo      `Mbmo.JMML  JMML.`Mbmmd'.JMML.   `Mbmmd'     db db db
                        MM                         6'     dP
                      .JMML.                       Ybmmmd'

Pattern Lab doesn't have any CSS requirements, which means you can write your styles however you want. Hooray!
You can use Sass, Less, vanilla CSS, or some other crazy thing I haven't heard of yet.
So please don't use these styles. They're just here to put together the demo, and nothing more.
They're intentionally gray, boring, and crappy because you're supposed to do this stuff yourself.
Atomic design is philosophically complimentary with these CSS approaches:

* SMACSS by Jonathan Snook http://smacss.com/
* OOCSS by Nicole Sullivan http://oocss.org/
* BEM CSS Methology : http://bem.info/method/
* CSS Guidelines by Harry Roberts : https://github.com/csswizardry/CSS-Guidelines

So feel free to use any of these approaches. Or don't. It's totally up to you.

*/
/*------------------------------------*\
    $TABLE OF CONTENTS
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
@font-face {
  font-family: "Circular";
  font-weight: normal;
  src: url(../fonts/lineto-circular-book.ttf) format("truetype"); }
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
	Usage: @include font-size(1, large);
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/

/*------------------------------------*\
    $WEBFONT DELACATIONS
\*------------------------------------*/

/* Akkurat Reg */
@font-face {font-family: "Akkurat";
  src: url("../fonts/cf3327022417d4ff7f54f0963c4f41ea.eot"); /* IE9*/
  src: url("../fonts/cf3327022417d4ff7f54f0963c4f41ea.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/cf3327022417d4ff7f54f0963c4f41ea.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/cf3327022417d4ff7f54f0963c4f41ea.woff") format("woff"), /* chrome、firefox */
  url("../fonts/cf3327022417d4ff7f54f0963c4f41ea.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/cf3327022417d4ff7f54f0963c4f41ea.svg#Akkurat") format("svg"); /* iOS 4.1- */
}

/* Akkurat Bold */
@font-face {font-family: "Akkurat-Bold";
  src: url("../fonts/cc4c7e3aa2ab2258b5e0bc946be1093a.eot"); /* IE9*/
  src: url("../fonts/cc4c7e3aa2ab2258b5e0bc946be1093a.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/cc4c7e3aa2ab2258b5e0bc946be1093a.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/cc4c7e3aa2ab2258b5e0bc946be1093a.woff") format("woff"), /* chrome、firefox */
  url("../fonts/cc4c7e3aa2ab2258b5e0bc946be1093a.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/cc4c7e3aa2ab2258b5e0bc946be1093a.svg#Akkurat-Bold") format("svg"); /* iOS 4.1- */
}

/* Akkurat Light */
@font-face {font-family: "Akkurat-Light";
  src: url("../fonts/bc9fa02b4227255be2387a7e19a3e09b.eot"); /* IE9*/
  src: url("../fonts/bc9fa02b4227255be2387a7e19a3e09b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/bc9fa02b4227255be2387a7e19a3e09b.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/bc9fa02b4227255be2387a7e19a3e09b.woff") format("woff"), /* chrome、firefox */
  url("../fonts/bc9fa02b4227255be2387a7e19a3e09b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/bc9fa02b4227255be2387a7e19a3e09b.svg#Akkurat-Light") format("svg"); /* iOS 4.1- */
}


/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
.cf, .l-two-col, [role=main] {
  *zoom: 1; }

.cf:before, .l-two-col:before, [role=main]:before, .cf:after, .l-two-col:after, [role=main]:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, .l-two-col:after, [role=main]:after {
  clear: both; }

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important; }

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

/* Floats */
.right {
  float: right;
  padding: 0 0 1em 1em; }

.right-search {
  float: right;
  padding: 0 0 1em 0; }

.left {
  float: left;
  padding: 0 1em 1em 0; }

/* Text-Align */
.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

/* Display Classes */
@media all and (max-width: 46.8em) {
  .hide-small {
    display: none; } }
}

@media all and (min-width: 46.8em) and (max-width: 50em) {
  .hide-med {
    display: none; } }

@media all and (min-width: 50em) {
  .hide-large {
    display: none; } }

.valid {
  color: #089e00; }

.error {
  color: #f00; }

.warning {
  color: #fff664; }

.information {
  color: #000db5; }

.font-secondary {
  font-family: Georgia, Times, "Times New Roman", serif; }

body {
  background: #fff;
  font: 100%/1.5 "Akkurat", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #424755; }

/* Links */
a {
  color: #424755;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #9B9B9B; }

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  line-height: 1.2;
  font-size: 2.667em; }

h2, .beta {
  line-height: 1.2;
  font-size: 2em;
  color: #9B9B9B; }

h3, .gamma {
  line-height: 1.2;
  font-size: 1.886em;}

/* Subheadings */
.subheading {
  font-family: "Akkurat", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

/* Text-Related Elements */
p {
  margin-bottom: 1em; }

/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 1px solid #9B9B9B;
  color: #9B9B9B;
  padding-left: 1em;
  margin-bottom: 1em; }

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #eee;
  margin: 2em 0; }

abbr {
  border-bottom: 1px dotted #9B9B9B;
  cursor: help; }

time {
  font-size: 0.722em;
  color: #0074D9; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto; }

iframe {
  margin-bottom: 1em; }

figure {
  margin-bottom: 1em; }
  figure img {
    margin-bottom: 0.5em; }

figcaption {
  font-style: italic; }

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
  list-style: none;
  margin-left: 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 2px; }

label {
  display: block;
  padding-bottom: 0.5em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px 0; }

input, textarea {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 0.8333333333em 0.65rem; }

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none; }

button, input[type="submit"] {
  padding: 0.8333333333em;
  background: #424755;
  border: 2px solid #9B9B9B;
  cursor: pointer; }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.field-container {
  margin-bottom: 1em; }

.inline-form fieldset, .inline-form .inline-container {
  position: relative; }
.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: 0.875em;
  padding: 0.8333333333em 1.3rem;
  background-color: #BDC6CF;
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 1;
  width: auto;
  border-radius: 0; }
  .inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
    background: #0074D9;
    color: #fff; }

/* Validation */
.has-error {
  border-color: #f00; }

.is-valid {
  border-color: #089e00; }

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
.search-field {
  padding-right: 3em; }

.inline-form .search-submit {
  background: none;
  padding: 1.1em;
  border: 0;
  border-left: 2px solid #eee;
  color: #9B9B9B; }

/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #9B9B9B;
  width: 100%; }

th {
  text-align: left;
  border: 1px solid #9B9B9B;
  padding: 0.2em; }

td {
  border: 1px solid #9B9B9B;
  padding: 0.2em; }

.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  .animate-fade:hover {
    opacity: 0; }

.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

/* Shadow Animator */
.shadow {
  opacity: 0.7;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: inline-block; }
  .shadow:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .shadow:hover {
    opacity: 1;
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }
  .shadow:hover:after {
    opacity: 1; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* Layout Container */
.lc, .header, [role=main] {
  max-width: 72em;
  margin: 0 auto;
  padding: 1em; }
  @media all and (max-width: 48em) {
    .lc, .header, [role=main] {
      padding: 0 2em; } }
  .lc .small, .header .small, [role=main] .small {
    max-width: 47.5em;
    padding: 2em;
    margin: 0 auto; }
    @media all and (max-width: 39.8em) {
      .lc .small, .header .small, [role=main] .small {
        width: 100%;
        padding: 1em; } }

.white-space {
  padding: 4em 0; }

.full-width {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5em; }

.small-inset {
  padding: 2em; }
  @media all and (max-width: 39.8em) {
    .small-inset {
      padding: 2em 0; } }

.video_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
@media all and (max-width: 39.8em) {
    .video_bg {
      display:none; } }

.products {
  padding-bottom: 0;}
  .products p, .products h1, .products h2, .products h3 {
    color: #fff; }
  // .products h1:after {
  //   content: '';
  //   margin: 0.7em 0;
  //   width: 3em;
  //   height: 5px;
  //   background-color: #fff;
  //   display: block; }
  .products span {
    font-weight: normal;
    font-style: italic;
    color: #BDC6CF;
    font-size: 0.75em; }
  .products .product_title {
    margin-bottom: 2em;
  }
  .products h1 {
    margin-bottom: 1em;
  }
  .products h3 {
    font-size: 3em;
  }
  .products p {
    font-size: 2em;
  }
  .products a {
    color: #0074D9;
    text-decoration: underline;
  }
  .products a:hover {
    color: #fff;
  }
  .product_title h1 {
    font-size: 4em;
  }
  .gray_f {
    opacity: 0.3;
  }
  .products .flex-grid {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    vertical-align: top; }
  .products .products_grid {
    margin-top: 100px;
    padding-bottom: 100px;
  }
  .products .gi {
    padding: 0;
    text-align: center;
    flex: 1 0 auto; }
    .products .gi img {
      display: inline;
    }
    .products .g-2up > .gi:nth-of-type(even) {
      border-left: 1px solid #3A3A3A;
    }

  // .products .img-box {
  //   height: 490px;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center; }
  .product-image {
    padding: 4em 0;
    width: 100%;
    display: block;
  }
  .products .product_logo {
    height: 120px;
  }

  .product-image img {
    display: block;
  }

.fw {
  position: relative;
  width: 100%;
  padding: 4em 0;
}

.fw .lc {
  padding: 0;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.blue-bg {
  background-color: #0074D9; }

.purple-bg {
  background-color: #714CA1; }

.over-margin-l {
  margin-left: -4em; }

.over-margin-r {
  margin-right: -4em; }

.over-margin-b {
  margin-bottom: 4em;
}

.low-z {
  position: relative;
  z-index: -1; }

.high-z {
  z-index: 2; }

.center-e {
  text-align: center; }

.table {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.hiring {
  background-color: rgba(255,255,255,1); }

.job-list ul.job-list {
  text-align: center;
  width: -webkit-fit-content;
       width: -moz-fit-content;
            width: fit-content;
}

.job-list li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.job-list li a {
  display: block;
}

@media all and (min-width: 46.8em) {
      .job-list li {
        margin: 0 1em 1em 1em; }}

.job-list li .btn-w {
  width: 288px;
}

.about_us, .about_us_2 {
  display: flex;
  align-items: center;
}

.about_us {
  height: 100vh;
}

.about_us_2 {
  height: 50vh;
}

.about_us h2 {
  color: #fff;
  font-size: 3em;
  line-height: 1.5em;
}

.about_us_2 h2 {
  font-size: 2em;
  line-height: 1.5em;
  color: #000;
  font-weight: 300;
}

.gallery {
  display: inline-block;
}


.hiring h1 {
  color: #000;
  padding: 0.5em 0;
  margin-bottom: 0.7em;}
.hiring p {
  color: #000;
  margin-bottom: 1em; }


.articles h2 {
  margin-bottom: 0.5em; }
.articles .latest-posts {
  margin-bottom: 1em;
  padding: 1em; }

.menifesto h3 {
  line-height: 1.4em;
}
@media all and (max-width: 39.8em) {
      .menifesto h3 {
        font-size: 1.4em; } }

.contact {
  background-color: #131313; }
  .contact h1 {
    color: #B8E986; }
  .contact p {
    color: #fff; }
  .contact .gi {
    padding: 2em 1em; }
    @media all and (max-width: 39.8em) {
      .contact .gi {
        padding: 2em 0; } }
  .contact .info {
    padding: 2em 0;
    width: 18.75em;
    margin: 0 auto; }
  .contact .map {
    padding: 0; }
    .contact .map iframe {
      margin: 0 0 -8px 0; }
  .contact i {
    margin-right: 1em; }
  .contact a {
    color: #fff; }

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/
/* Two Column Layout */
@media all and (min-width: 50em) {
  .l-two-col .l-main {
    float: left;
    width: 70%;
    padding-right: 1em; } }
@media all and (max-width: 50em) {
  .l-two-col .l-sidebar {
    clear: both; } }
@media all and (min-width: 50em) {
  .l-two-col .l-sidebar {
    float: left;
    width: 30%;
    padding: 0 0 0 1em; } }

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* Grid Container */
.g {
  overflow: hidden;
  margin: 0; }

/* Grid Item */
.gi {
  padding: 0.5em; }
  .gi img {
    display: block; }
  @media all and (min-width: 46.8em) {
    .gi {
      float: left; } }

/* Grid 1up */
.g-1up .gi {
  width: 100%; }

/* Grid 2up */
@media all and (min-width: 46.8em) {
  .g-2up > .gi {
    float: left;
    width: 50%; }
    .g-2up > .gi:nth-of-type(odd) {
      clear: left; } }

/* Grid Half (Always displayed side by side) */
.g-half > .gi {
  float: left;
  width: 50%; }
  .g-half > .gi:nth-of-type(odd) {
    clear: left; }

/* Grid 3up */
@media all and (min-width: 46.8em) {
  .g-3up > .gi {
    float: left;
    width: 50%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: left; } }
@media all and (min-width: 50em) {
  .g-3up > .gi {
    width: 33.3333333%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-3up > .gi:nth-of-type(3n+1) {
      clear: left; } }

/* Grid 4up */
@media all and (min-width: 46.8em) {
  .g-4up > .gi {
    float: left;
    width: 50%; }
    .g-4up > .gi:nth-of-type(2n+1) {
      clear: both; } }
@media all and (min-width: 50em) {
  .g-4up > .gi {
    width: 25%; }
    .g-4up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-4up > .gi:nth-of-type(4n+1) {
      clear: left; } }

/* Grid Quarter (Always displayed side by side) */
.g-quarter > .gi {
  float: left;
  width: 24%; }
  .g-quarter > .gi:nth-of-type(4n+1) {
    clear: left; }

@media all and (min-width: 29.75em) {
  .g-max4 > .gi {
    float: left;
    width: 50%; }
    .g-max4 > .gi:nth-of-type(2n+1) {
      clear: both; } }
@media all and (min-width: 39.8em) {
  .g-max4 > .gi {
    width: 33.3333333%; }
    .g-max4 > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-max4 > .gi:nth-of-type(3n+1) {
      clear: left; } }
@media all and (min-width: 50em) {
  .g-max4 > .gi {
    width: 25%; }
    .g-max4 > .gi:nth-of-type(3n+1) {
      clear: none; }
    .g-max4 > .gi:nth-of-type(4n+1) {
      clear: left; } }

/* Grid 5up */
.g-max5 > .gi {
  float: left;
  width: 50%; }
  .g-max5 > .gi:nth-of-type(2n+1) {
    clear: both; }
@media all and (min-width: 39.8em) {
  .g-max5 > .gi {
    width: 33.3333333%; }
    .g-max5 > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(3n+1) {
      clear: left; } }
@media all and (min-width: 46.8em) {
  .g-max5 > .gi {
    width: 25%; }
    .g-max5 > .gi:nth-of-type(3n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(4n+1) {
      clear: left; } }
@media all and (min-width: 48em) {
  .g-max5 > .gi {
    width: 20%; }
    .g-max5 > .gi:nth-of-type(4n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(5n+1) {
      clear: left; } }

/* Grid 2/3 */
@media all and (min-width: 46.8em) {
  .gi-2-3 {
    float: left;
    width: 66.666666%; } }

@media all and (min-width: 46.8em) {
  .gi-1-3 {
    float: left;
    width: 33.333333%; } }

/* Grid 4up block */
.g-opposites .gi {
  float: left; }
  .g-opposites .gi:last-child {
    float: right;
    text-align: right; }

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
.header {
  // transition: background-color .4s;
  background: linear-gradient(to bottom right, RGBA(54, 57, 106, 0.3), RGBA(54, 57, 106, 0.3));
  background-size: cover;
  padding: 0.8333333333em 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }

.gradient-bg-1 {
  background-image: linear-gradient(to bottom, #4C93F9, #B14FFF); }
.gradient-bg-2 {
  background-image: linear-gradient(to bottom, #B14FFF, #C3339B); }
.gradient-bg-3 {
  background-image: linear-gradient(to bottom, #C3339B, #B51A1A); }
.gradient-bg-4 {
  background-image: linear-gradient(to bottom, #B51A1A, #F38446); }
.gray-bg-1 {
  background-color: #F8F8F8;}

.dark-blue {
  background-color: #171C2B;
}

.deep-koamaru {
  background-color: #36396A;
}

.black-russian {
  background-color: #252729;
}

.mine-shaft {
  background-color: #333333;
}

.light-sky {
  background-color: #E4ECF0;
}

.france-blue {
  background-color: #3590EA;
}

.catalina-blue {
  background-color: #274055;
}

.blueblack {
  background-color: #020817;
}

.clean-white {
  background-color: #fff;
}


video#vidbg {
  position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
 background: url('../images/header_poster.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  object-fit: cover;
}


@media screen and (max-width: 800px) {
  .header {

    background:url('../images/header_poster.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
     }
  #vidbg { display: none; }
}

.logo {
  float: left;
  max-width: 8rem;
  margin: 0 0.4rem; }
  @media all and (min-width: 46.8em) {
    .logo {
      max-width: 9rem; } }

.nav-toggle {
  float: right;
  display: block;
  padding: 0.7rem 0;
  font-size: 1.3rem;
  line-height: 1; }
  @media all and (min-width: 46.8em) {
    .nav-toggle {
      display: none; } }
  @media all and (max-width: 17em) {
    .nav-toggle {
      padding-left: 0.2rem;
      padding-right: 0.2rem; } }

.search-form {
  overflow: hidden;
  max-height: 0; }
  @media all and (min-width: 46.8em) {
    .search-form {
      float: right;
      max-height: none;
      margin: 0.65em 0.5em 0 0; } }

.tagline {
  display: block;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s; }
  .tagline h1, h2 {
    color: #fff;
    margin-bottom: 1.3em; }
  .tagline p {
    max-width: 37.5em;
    color: #fff;
    margin-top: 1em;}
    @media all and (max-width: 39.8em) {
      .tagline h1 {
        font-size: 1.4375em; } }
  .tagline h1:before {
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    background-color: #fff;
    margin-bottom: 1.5em;
    position: relative; }

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.nav {
  clear: both;
  overflow: hidden;
  max-height: 0; }
  .nav a {
    display: block;
    padding: 0.4em 1em;
    border-top: 1px solid #eee; }
  .nav.active {
    max-height: 40em; }
  @media all and (min-width: 46.8em) {
    .nav {
      max-height: none;
      float: right;
      clear: none; }
      .nav li {
        float: left; }
      .nav a {
        border: 0; } }

.nav-white a {
  color: #fff;
  opacity: 0.7; }
  .nav-white a:hover {
    opacity: 1; }

.nav-black a {
  color: #fff;
  opacity: 0.7; }
  .nav-black a:hover {
    opacity: 1; }

.pagination {
  overflow: hidden; }
  .pagination li {
    float: left;
    border-right: 1px solid #eee; }
    .pagination li:last-child {
      border: 0; }
  .pagination a {
    padding: 1em; }

.sticky_h {
  position: fixed;
  top: 0px;
  max-height: 50px;
  z-index: 1;
  width: 100%;
  background-color: white;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
}
@media only screen and (max-width: 39.8em) {
  .sticky_h {
    display: none;
  }
}

@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}

.sticky {
  background-color: RGBA(0, 0, 0, 0.85);
  opacity: 1;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 8px 0px;
}

.sticky_h .lc {
  position: relative;
  padding-top: 7px;
}

.sticky_h img.logo {
  padding-top: 10px;
}


/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
  padding: 0.5em 0.5em 2em;
  overflow: hidden; }

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  clear: both;
  overflow: hidden;
  background: #fff;
  color: #000;
  line-height: 1.2; }
  .footer h1 {
    color: #B8E986;
    margin-bottom: 7px;
  }
  .footer .gi {
    padding: 0;
  }

  .footer .g {
    padding: 1em 0; }
  .footer small {
    color: #9B9B9B;
    padding-left: 0;}
  .footer .footer_logo {
    float: left;
    display: block;
    width: 100%;}
  .footer_logo img {
    margin-left: 0;
    margin-bottom: 15px;
    margin-top: 0;
  }

 .footer .info {
  padding: 2em 0;
  width: 18.75em;
  margin: 0 auto; }
.footer i {
  margin-right: 1em;}
.footer a {
  color: #000; }

/* Social List */
.social-list li {
  margin: 0 1em 1em 0; }
@media all and (min-width: 46.8em) {
      .social-list li {
        margin: 0 0 0.4em 1em; }}

.social-list a {
  font-size: 1.6em; }

.footer .icons {
  margin-top: 1em;
}

.ti-linkedin {
  color: #0084BF;
}

.footer .icons, .footer .company-info {
  float: left;
  text-align: left;
  width: 100%;
}

@media all and (min-width: 46.8em) {
      .footer .icons, .footer .company-info {
        margin-top:0;
        float: right;
        width: 100%;
        text-align: right;}
      }

.footer .company-info li {
  color: RGBA(0, 0, 0, 0.5);
  font-size: 0.75em;
  margin-bottom: 0.5em;
}
.footer .company-info li a {
  color: RGBA(0, 0, 0, 0.5);
}

.nav-footer {
  margin: -1em -1em 1em;
  float: right; }
  .nav-footer li {
    border-bottom: 1px solid #424755; }
    @media all and (min-width: 46.8em) {
      .nav-footer li {
        border: 0;
        float: left; } }
  .nav-footer a {
    display: block;
    padding: 1em; }

.copyright {
  font-size: 0.75em;
  padding: 1em 0;
  color: RGBA(0, 0, 0, 0.5);
  float: left;
  clear: both;
  border-top: 1px solid #4a4a4a; }
  @media all and (min-width: 46.8em) {
    .copyright {
      /* float: right;*/} }

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
h1.intro {
  font-size: 2em; }
h2.intro_h2 {
  font-size: 1.8em;
  font-weight: 300;
}


.pullquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4375em; }

.caption {
  font-style: italic;
  font-size: 0.75em; }

.text a {
  text-decoration: underline; }
.text ul {
  list-style: disc;
  margin: 0 0 1em 1.2em; }
  .text ul ul {
    margin-bottom: 0; }
.text ol {
  list-style: decimal;
  margin: 0 0 1em 1.5em; }
  .text ol ol {
    margin-bottom: 0; }

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/* Icon Font */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple, .icon-android, .icon-arrow:after, .icon-envelope:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before {
  content: "\74"; }

.icon-stumbleupon:before {
  content: "\75"; }

.icon-pinterest:before {
  content: "\70"; }

.icon-linkedin:before {
  content: "\69"; }

.icon-google-plus:before {
  content: "\67"; }

.icon-search:before {
  content: "\73"; }

.icon-play:before {
  content: "\61"; }

.icon-menu:before {
  content: "\21"; }

.icon-arrow-left:before {
  content: "\23"; }

.icon-arrow-right:before {
  content: "\24"; }

.icon-bubble:before {
  content: "\25"; }

.icon-facebook:before {
  content: "\66"; }

.icon-feed:before {
  content: "\27"; }

.icon-youtube:before {
  content: "\79"; }

.icon-tag:before {
  content: "\28"; }

.icon-tumblr:before {
  content: "\6d"; }

.icon-instagram:before {
  content: "\22"; }

.icon-podcast:before {
  content: "\26"; }

.icon-android:before {
  content: "\29"; }

.icon-apple:before {
  content: "\2a"; }

.icon-envelope:before {
  content: "\2b"; }

.icon-arrow:after {
  content: "\61";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.icon-play:before {
  font-size: 0.7rem;
  padding-left: 0.2em; }

.icon-play-box {
  display: block;
  margin-left: 2em; }

.icon-play-box:before {
  padding: 0.25em;
  background: #9B9B9B;
  color: #fff;
  margin-left: -1.7rem;
  margin-right: 0.5em; }

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  display: inline-block;
  background: none;
  line-height: 1;
  padding: 1em 2em;
  border: 2px solid;
  text-align: center;}
  .btn.disabled {
    background: #eee;
    color: #9B9B9B;
    border-color: #9B9B9B; }

.btn-b {
  color: #000;
  border-color: #000;}
  .btn-b:hover, .btn-b:focus {
    background: #000;
    color: #fff; }

.btn-w {
  color: #fff;
  border-color: #fff; }
  .btn-w:hover, .btn-w:focus {
    background: #fff;
    color: #000; }

.btn-p {
  color: #3E86FB;
  border-color: #3E86FB; }
  .btn-p:hover, .btn-p:focus {
    background: #3E86FB;
    color: #fff; }

.rounded {
  border-radius: 30px;
}

.btn-small {
  padding: 0.5em; }

.btn-large {
  padding: 0.5em;
  text-transform: uppercase;
  background: #9B9B9B;
  font-size: 1.4rem;
  font-weight: normal; }

.text-btn {
  font-style: italic; }

/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
  background: #dcdddc;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eee; }

/* Block */
.block {
  overflow: hidden; }
  .block p:last-child {
    margin-bottom: 0; }

.headline {
  line-height: 1.2; }

/* Hero Block */
.block-hero {
  margin-bottom: 0.5em; }
  .block-hero .b-thumb img {
    display: block; }
  @media all and (min-width: 50em) {
    .block-hero {
      position: relative; }
      .block-hero .b-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 1.5em; } }

/* Block Thumbnail with Headline */
.block-thumb {
  display: table;
  width: 100%;
  border-collapse: collapse; }
  .block-thumb .b-inner {
    display: table-row;
    vertical-align: top;
    overflow: hidden; }
  @media all and (min-width: 29.75em) {
    .block-thumb .b-thumb {
      display: table-cell;
      vertical-align: top;
      width: 30%;
      max-width: 10em; }
      .block-thumb .b-thumb img {
        display: block;
        width: 100%;
        height: auto; } }
  @media all and (min-width: 29.75em) {
    .block-thumb .b-text {
      display: table-cell;
      width: 70%;
      padding: 0 1em; } }

/* Block Headline Summary */
.block-headline-summary a {
  display: block;
  padding: 0.5em; }

/* Block Inset */
.block-inset {
  position: relative; }
  .block-inset .b-thumb {
    position: relative;
    z-index: 0; }
    .block-inset .b-thumb img {
      display: block; }

/* Hero Block */
.block-inset {
  margin-bottom: 0.5em;
  position: relative; }
  .block-inset .headline {
    font-size: 1.1em; }
  .block-inset .b-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5em; }

/* Block Thumb with Summary */
.block-thumb-summary .b-thumb {
  float: left;
  width: 50%; }
.block-thumb-summary .b-text {
  margin-left: 50%;
  padding: 0.5em; }

.inline-list li {
  display: inline-block; }


/* Headline List */
.headline-list {
  margin-bottom: 1em; }
  .headline-list.flush {
    margin: 0; }
  .headline-list h4 {
    font-weight: normal; }
  .headline-list li {
    padding: 0.25em 0;
    border-top: 1px solid #ddd; }

/* Post List */
.post-list li {
  margin-bottom: 1em; }

/* Bullet List */
.bullet-list {
  list-style: square;
  margin: 0 0 1em 1.2em;
  line-height: 1.3; }
  .bullet-list li {
    margin-bottom: 1em; }

/* Text List */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3; }
  .text-list li {
    margin-bottom: 1em; }

.tooltip-container {
  display: inline-block;
  position: relative; }
  .tooltip-container:hover .tooltip {
    display: block; }

.tooltip-link {
  background: #BDC6CF; }

.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1em;
  background: #fff;
  border: 1px solid #9B9B9B;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2); }
  .tooltip h2 {
    margin-top: 0; }
  @media all and (min-width: 24em) {
    .tooltip {
      width: 22em; } }
  @media all and (min-width: 29.75em) {
    .tooltip {
      width: 27em; } }
  @media all and (min-width: 39.8em) {
    .tooltip {
      width: 30em; } }

.accordion {
  margin-bottom: 1em; }

.acc-handle {
  background: #131313;
  color: #fff;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 0.5em;
  border-bottom: 1px solid #ddd; }
  .acc-handle:after {
    content: "+";
    float: right; }
  .acc-handle:hover {
    color: #fff;
    background: #424755; }
  .acc-handle.active {
    background: #424755; }
    .acc-handle.active:after {
      content: "-"; }

.tabs {
  overflow: hidden; }
  .tabs ul {
    display: table;
    width: 100%; }
  .tabs li {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #ddd; }
    .tabs li:last-child {
      border-right: 0; }
  .tabs a {
    display: block;
    padding: 0.5em;
    background: #9B9B9B; }
    .tabs a:hover, .tabs a:focus {
      background: #ddd; }
    .tabs a.active {
      background: #424755;
      color: #fff; }

.section {
  margin: 0 0 1em; }

.section-title {
  margin-bottom: 0.5em; }

.article-header h1 {
  font-size: 2.5em; }

.byline {
  font-size: 0.875em;
  margin-bottom: 0.5em;
  color: #BDC6CF; }

.social-share {
  overflow: hidden;
  margin-bottom: 1em; }
  .social-share li {
    float: left;
    margin-right: 0.5em; }
  .social-share a {
    background: #424755;
    color: #fff;
    display: block;
    padding: 0.5em; }
    .social-share a:hover {
      background: #9B9B9B; }

.comments li {
  margin-bottom: 1em; }

.comment-container {
  overflow: hidden;
  margin-bottom: 1em;
  list-style: none; }

.comment-meta {
  float: left;
  width: 6.5em; }
  .comment-meta img {
    display: block;
    border: 1px solid #eee;
    margin-bottom: 0.5em; }

.comment-name {
  font-size: 0.75em; }

.comment-text {
  margin-left: 9em; }

/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #9B9B9B;
  background: #BDC6CF; }

.alert-error {
  color: #f00;
  border-color: #f00;
  background: #ffbebe; }

/*------------------------------------*\
    $KEYFRAME
\*------------------------------------*/


  @-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}


/*------------------------------------*\
    $MODAL CONTROL
\*------------------------------------*/

.md-modal {
  position: fixed;
  top: 10vh;
  bottom: 20vh;
  left: 45%;
  margin-left: -40vw;
  width: 90vw;
  height: auto;
  z-index: 3;
  padding: 50px;
  overflow-y: auto;
  background: white;
}

@media all and (max-width: 46.8em) {
  .md-modal {
    bottom: 10vh;
    left: 45%;
    width: 90vw;
    padding: 30px;}
}

.md-modal:hover {
  overflow-y: auto;
}

.md-overlay {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height: 90%;
  background:#424242;
  z-index:2;
}
@media all and (max-width: 46.8em) {
  .md-overlay {
    height: 100%;
  }
}

.md-overlay, .md-modal{
  display:none;
}
.md-content {
  text-align: left;
}
.md-content h3 {
  color: #000;
  margin-bottom: 1.5em;
  font-size: 1.4em;
}

.md-content h4 {
  font-size:1.2em;
  margin-bottom: 1em;
  color: #B3B3B3;
}

.md-content li {
  font-size: 11pt;
}

.md-content p {
  color: #808080;
  font-size: 11pt;
}

.md-close {
  right: 30px;
  top: 30px;
  z-index: 100;
  position: absolute;
  background: url(../images/close@2x.png) no-repeat center center;
  background-size: 30px 30px;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

ul.list-d {
  list-style: disc;
  padding-left: 1.5em;
}

/*------------------------------------*\
    $GOALS
\*------------------------------------*/
.fw-table {
  display: table;
  width: 100%;
  position: relative;
}

.goals h2 {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1em;
}

.goal-number {
  margin-top: 1em;
  font-size: 24pt;
  position: absolute;
}

.fh {
  height: 100vh;
}

.ver-c {
  position: absolute;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
}

.goals p {
  max-width: 50%;
  color: #fff;
}

.goals p.top_bar:before {
  content: '';
    width: 100px;
    height: 10px;
    display: block;
    background-color: #fff;
    margin-bottom: 2em;
    position: relative;
}

.footnote {
  opacity: 0.5;
}

.goal-1 {
  background-image: url(../images/goal1-bg.png);
  background-size: cover;
}

.goal-2 {
  background-image: url(../images/particle_bg.png);
  background-size: cover;
}

.goal-3 {
  background-image: url(../images/goal3-bg.png);
  background-size: cover;
}

.goal-4 {
  background-image: url(../images/particle-bg2.png);
  background-size: cover;
}

.is-rotated {
  /* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.pink {
  color: #FF3366
}

.cyan {
  color: #6BE7DE;
}

.orange {
  color: #F2AF2C;
}

.green {
  color: #7ED321;
}

#particles-js, #particles-js-2, #particles-js-3, #particles-js-4 {
  width: 100%;
  height: 100vh;
  background-color: #020817;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}